<div class="nav-header">
  <div class="nav-title">
    <img src="assets/images/task-tracker-copy.png" class="main-logo">
  </div>
  <div class="nav-actions">
    <div class="nav-user hidden-xs">
      <span>Tom Gray</span>
    </div>
    <div class="btn-group" dropdown>
      <button type="button" dropdownToggle class="dropdown-toggle-split dropdown-more-vert">
        <img src="assets/images/morevert.svg" class="more-vert">
        <span class="sr-only">Split button!</span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Logout</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="content">
  <app-list [lists]="lists"></app-list>
</div>
